/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
    background-color: #f4f4f9;
  }
  
  h1 {
    color: #333;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-gryffindor {
    background-image: url('griffindor.jpg');
    background-size: cover;
    color: white;
  }
  
  .card-slytherin {
    background-image: url('slytherin.jpg');
    background-size: cover;
    color: white; 
  }
  
  .card-hufflepuff {
    background-image: url('hufflepuff.jpg');
    background-size: cover;
    color: white;
  }
  
  .card-ravenclaw {
    background-image: url('ravenclaw.jpg');
    background-size: cover;
    color: white;
  }
  
  